{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Assistive technology information website - confirmation of email subscription!
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Thanks for registering {{data['email']}}!</h1>
        <p>You will recieve your newsletter {{data['frequency']}}</p>
        <div class="govuk-panel__body">
          <img src="/public/images/mail100100100-black-small-icon.png" />
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

    </div>
  </div>

{% endblock %}
